<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.database.mapper.CourseMapper">
    <resultMap id="courseMap" type="Course">
        <id column="course_id" property="courseId" />
        <result column="course_name" property="courseName" />
        <collection property="students" ofType="Student">
            <id column="student_id" property="studentId" />
            <result column="student_name" property="studentName" />
            <result column="hometown" property="hometown" />
        </collection>
    </resultMap>
    <select id="getCourse" resultMap="courseMap">
        SELECT c.course_id, c.course_name, s.student_id, s.student_name, s.hometown
        FROM t_course c
        LEFT JOIN t_course_student sc ON c.course_id = sc.course_id
        LEFT JOIN t_student s ON sc.student_id = s.student_id
        WHERE c.course_id = #{courseId}
    </select>
</mapper>